{% load static %}
<html>
<head>
    <title>Booking Confirmation</title>
</head>
<style>
    label {
        color: black;
    }
</style>
<body>
{% include 'navigation.html' %}
<hr class="mt-0">
<div class="card shadow m-5" id="signupform">
    <div class="card-body">
        <div class="container-fluid">
            <h5 class="p-2" style="border-bottom: 2px solid orange; color: green;">Confirm Booking Details</h5>
            <form method="post" name="booking">
                {% csrf_token %}
                
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" name="first_name" value="{{ user.first_name }}" readonly class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" name="last_name" value="{{ user.last_name }}" readonly class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="email" value="{{ user.email }}" readonly class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="text" name="phone" value="{{ user.phone_field }}" readonly class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Address</label>
                            <textarea name="address" class="form-control" >{{ user_profile.address }}</textarea>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Total Price (Rs.)</label>
                            <input type="text" name="total" class="form-control" value="{{ total }}" readonly>
                        </div>
                    </div>
                </div>

                <input type="submit" value="Book Now" class="m-2 px-3 btn btn-primary">
            </form>
        </div>
    </div>
</div>
</body>
</html>
