{% extends "base.html" %}
{% load custom_tags %}
{% block content %}
{% load static %}

<link href="{% static 'css/cart.css' %}" rel="stylesheet"/>

    <div class="container mt-5">
        <h2 class="text-center mb-4">My Cart</h2>
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-thumbnail" width="50">
                            <span class="ml-2">{{ item.product.name }}</span>
                        </div>
                    </td>
                    <td>{{ item.quantity }}</td>
                    <td>Rs.{{ item.product.price }}</td>
                    <td>Rs.{{ item.subtotal }}</td>
                    <td>
                        <a href="{% url 'update_cart_item' item.product.id 'incre' %}" class="btn btn-outline-dark ">+</a>
                        <a href="{% url 'update_cart_item' item.product.id 'decre' %}" class="btn btn-outline-dark ">-</a>
                        <a href="{% url 'remove_cart_item' item.product.id %}" class="btn btn-outline-danger m-2">Remove</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">Your cart is empty.</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="3" class="text-right font-weight-bold">Total</td>
                    <td>Rs. {{ total_discounted }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    
        <a href="{% url 'checkout_selection'%}" class="btn btn-outline-success mr-2" style="float:right">checkout</a>
        
    </div>



<h1>Your Cart</h1>

<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Discounted Price</th>
            <th>Original Price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>${{ item.subtotal }}</td>
            <td>${{ item.product.price|floatformat:2 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Total</h2>
<p>Discounted Total: ${{ total_discounted|floatformat:2 }}</p>
<p>Original Total: ${{ total_original|floatformat:2 }}</p>
{% endblock %}