{% extends "base.html" %}

{% block content %}
{% load static %}

<link href="{% static 'css/cart.css' %}" rel="stylesheet"/>

    <div class="container mt-5">
        <h2 class="text-center mb-4">My Cart</h2>
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-thumbnail" width="50">
                            <span class="ml-2">{{ item.product.name }}</span>
                        </div>
                    </td>
                    <td>{{ item.quantity }}</td>
                    <td><del>Rs.{{ item.subtotal_original }}</del></td>
                    <td>Rs.{{ item.subtotal }}</td>
                    <td>
                        <a href="{% url 'update_cart_item' item.product.id 'incre' %}" class="btn btn-outline-dark ">+</a>
                        <a href="{% url 'update_cart_item' item.product.id 'decre' %}" class="btn btn-outline-dark ">-</a>
                        <a href="{% url 'remove_cart_item' item.product.id %}" class="btn btn-outline-danger m-2 " onclick="return confirm('Are sure?');">Remove</a>

                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">Your cart is empty.</td>
                </tr>
                {% endfor %}
                <tr>
                    
                    <td colspan="2" class="text-right font-weight-bold">Total</td>
                    <td>Rs.<del> {{ total_original }}</del></td>
                    <td>Rs. {{ total_discounted }}</td>
                   
                </tr>

                
            </tbody>
        </table>
    
        <a href="{% url 'checkout_selection'%}" class="btn btn-outline-success mr-2" style="float:right">checkout</a>
        
    </div>




{% endblock %}