body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

.table {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
    vertical-align: middle;
}

.table th {
    text-align: center;
}

.table td {
    text-align: center;
}

.table .btn {
    margin: 0 5px;
}

.img-thumbnail {
    border: none;
    border-radius: 5px;
}

