

/* Change Brand Font */
.navbar-brand {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #000000e7;
  
}

/* Change Navigation Color */
.nav-link, .dropdown-item {
  color: rgba(48, 51, 54, 0.756) !important;
  font-size: 20px;
}

/* Force Light Hover Color for Navbar Links */
.navbar-nav .nav-link:hover,
.navbar-nav .dropdown-item:hover {
  color: rgb(4, 4, 4) !important;  /* Lighter green text */
  background-color: rgba(146, 191, 236, 0.254) !important;  /* Light blue background */
  border-radius: 30px;
}

/* Change Footer Social Icon Color */
#footer a, #contact a {
  color: #090104;
}

#footer a:hover {
  color: rgb(127, 139, 216);
}

#contact a:hover {
  color: rgb(20, 20, 22);
}

/* Scroll Button */
#scrollbtn {
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 99;
  border: none;
  color: rgb(28, 28, 52);
  background: #68777e;
  padding: 10px;
  border-radius: 10px;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Login Background */
#login {
  background-size: 100%;
  background-position: 0px 80px;
  background-repeat: no-repeat;
  opacity: 0.8;
}

/* Signup Form Background */
#signupform {
  background: url('/static/images/bg_texture.png');
  color: rgb(149, 136, 136);
}
