{% extends "myadmin/admin_base.html" %}
{% block content %}

<!-- Table Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Products</h6>
                <a href="{%url 'add_product'%}">Add Product</a>
                <div class="table-responsive">
                    <table class="table table-bordered table-dark">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Image</th>
                                <th>Product Name</th>
                                <th>Category</th>
                                <th>Price</th>
                                <th>Discount</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in product %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>
                                {% if i.image %}
                                    <img src="{{ i.image.url }}" style="width:100px"/>
                                {% else %}
                                    <span>No image available</span>
                                {% endif %}
                                <td>{{i.name}}</td>
                                <td>{{i.category.name}}</td>
                                <td>{{i.price}}</td>
                                <td>{{i.discount}}</td>
                                <td>
                                    <a href="{% url 'edit_product' i.id %}" class="text-success">Edit</a>
                                    <a href="{% url 'delete_product' i.id %}" class="text-danger"
                                       onclick="return confirm('Are You Sure?')">Delete</a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Categories</h6>
                <a href="">Add Category</a>
                <div class="table-responsive">
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Category Name</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cat in categories %}
                                <tr>
                                    <th>{{ forloop.counter }}</th>
                                    <td>{{ cat.category_name }}</td>
                                    <td><a href="{% url 'c_update_category' cat.id %}" class="text-success">Update</a></td>
                                    <td><a href="{% url 'c_delete_category' cat.id %}" class="text-danger">Delete</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Variations</h6>
                <a href="">Add Variation</a>
                <div class="table-responsive">
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Product Name</th>
                                <th>Variation Category</th>
                                <th>Variation Value</th>
                                <th>Is Active</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for var in variations %}
                                <tr>
                                    <th>{{ forloop.counter }}</th>
                                    <td>{{ var.product.product_name }}</td>
                                    <td>{{ var.variation_category }}</td>
                                    <td>{{ var.variation_value }}</td>
                                    <td>{{ var.is_active|yesno:"Yes,No" }}</td>
                                    <td><a href="{% url 'c_update_variation' var.id %}" class="text-success">Update</a></td>
                                    <td><a href="{% url 'c_delete_variation' var.id %}" class="text-danger">Delete</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Table End -->

{% endblock content %}
